@keyframes pill-1 {
    0%{
        width: 320px;
    }

    25%{
        width: 330px;
    }

    50%{
        width: 320px;
    }

    75%{
        width: 310px;
    }

    100%{
        width: 320px;
    }
}

@keyframes pill-2 {
    0%{
        width: 290px;
    }

    25%{
        width: 300px;
    }

    50%{
        width: 290px;
    }

    75%{
        width: 280px;
    }

    100%{
        width: 290px;
    }
}

#main-wrapper{
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 
    "header header img img"
    "cards cards cards cards"
    ". title-a title-a ."
    "anima-a anima-a text-a text-a"
    ". title-c title-c ."
    "text-c text-c anima-c anima-c"
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 550px 200px 50px 250px 50px 400px;
    row-gap: 20px;
}

/*header*/

.header{
    grid-area: header;
    display: flex;
    background-color:  #010508;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: white;
    letter-spacing: 4px;
    font-weight: bolder;
}

.slogan{
    font-size: 0.8em;
    color: #A560B6;
    font-weight: lighter;
}

.header__img{
    grid-area: img;
    background-color:black ;
}

.header__img__dog{
    height: 100%;
    max-width: 100%;
    width: auto;
    object-fit: cover;
}

/*Card*/

.cards{
    margin: 0 10px;
    grid-area: cards;
    display: grid;
    grid-template-areas: 
    "card-1 card-2"
    "card-1 card-3"
    ;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr, 1fr;
    gap: 10px;
}

.card-1{
    grid-area: card-1;
    background: linear-gradient(90deg, #DA22FF 0%, #9733EE 94.79%);
}

.card-2{
    grid-area: card-2;
    background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
}

.card-3{
    grid-area: card-3;
    background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
}

.cardw{
    display: flex;
    border-radius: 15px;
    color: white;
    align-items: flex-end;
    transition: all 1s;
}

.cardw-title{
    margin: 8px;
    font-size: 1.2em;
}

.card-1:hover{
    background-image: url(https://images.unsplash.com/photo-1599443015574-be5fe8a05783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
	background-position: center;
    color: white;
    text-decoration: none;
    box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
-webkit-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
-moz-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
}

.card-2:hover{
    background-image: url(https://images.unsplash.com/photo-1625321150203-cea4bee44b54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
	background-position: left;
    color: white;
    text-decoration: none;
    box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
-webkit-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
-moz-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
}

.card-3:hover{
    background-image: url(https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/5971c6555bafe801185a6653/perro-juguete-rojo-kong.jpg);
    background-size: cover;
	background-position: center;
    color: white;
    text-decoration: none;
    box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
-webkit-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
-moz-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
}

/*Adopta*/

.title{
    text-align: center;
    font-size: 1.3em;
    color: #20123A;
    font-weight: bolder;
}

.adopta__title{
    grid-area: title-a;
}

.adopta__animation{
    grid-area: anima-a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill-1{
    background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
    max-width: 320px;
    height: 130px;
    border-radius: 60px;
    position: absolute;
    transform: rotate(50deg);
    z-index: -1;
    animation: pill-1 3s infinite linear;
}

.pill-2{
    background: linear-gradient(90deg, #4CB8C4 0%, #3CD3AD 100%);
    max-width: 290px;
    height: 130px;
    border-radius: 60px;
    position: absolute;
    transform: rotate(135deg);
    z-index: -2;
    animation: pill-2 4s infinite linear;
}


.adopta__text{
    grid-area: text-a;
    color: #20123A;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.3em;
    text-align: center;
}

.text--modifier{
    margin: 20px 18%;
}

.btn{
    border-radius: 5px;
    font-size: 1em;
    border: solid 2px #1488CC;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #1488CC;
}

.image{
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    width: auto;
}

/*Donar*/

.colabora__title{
    grid-area: title-c;
}

.colabora__text{
    grid-area: text-c;
    color: #20123A;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.3em;
    text-align: center;
}

.colabora__animation{
    grid-area: anima-c;
    display: flex;
    justify-content: center;
}

.colabora__animation__img{
    border-radius: 25px;
}

.text--modifier{
    margin: 20px 18%;
}

/*footer*/

.footer-wrap{
    display: grid;
    grid-template-areas: 
    "redes text1 text2"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr;
    column-gap: 20%;
    color: white;
}

.redes-iconos{
    grid-area: redes;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.textf-1{
    grid-area: text1;
    text-align: center;
}

.textf-2{
    grid-area: text2;
    text-align: center;
}

























/*Querys*/

@media (max-width: 800px) {
    #main-wrapper{
        font-family: sans-serif;
        display: grid;
        grid-template-areas: 
        "header header img img"
        "cards cards cards cards"
        "title-a title-a title-a title-a"
        "anima-a anima-a text-a text-a"
        "title-c title-c title-c title-c"
        "text-c text-c anima-c anima-c"
        ;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 320px 150px 50px 260px 50px 300px;
        row-gap: 25px;
    }

    .text--modifier{
        font-size: 0.9em;
    }

    .btn{
        font-size: 0.8em;
        font-weight: bold
    }

    .footer-wrap{
        display: grid;
        grid-template-areas: 
        "redes text1 text2"
        ;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 3fr;
        column-gap: 5%;
        color: white;
    }
}

@media (max-width: 630px) {
    #main-wrapper{
        font-family: sans-serif;
        display: grid;
        grid-template-areas: 
        "header header img img"
        "cards cards cards cards"
        "title-a title-a title-a title-a"
        "anima-a anima-a anima-a anima-a"
        "text-a text-a text-a text-a"
        "title-c title-c title-c title-c"
        "text-c text-c text-c anima-c"
        ;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 300px 150px 50px 200px 200px 50px 250px;
        row-gap: 25px;
    }

    .pill-1{
        max-width: 270px;
        height: 120px;
    }

    .pill-2{
        max-width: 250px;
    }

    .footer-wrap{
        display: grid;
        grid-template-areas: 
        "redes"
        "text1"
        "text2";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px 100px;
        row-gap: 5%;
        color: white;
    }
}

@media (max-width: 480px) {
    #main-wrapper{
        font-family: sans-serif;
        display: grid;
        grid-template-areas: 
        "header"
        "cards"
        "title-a"
        "anima-a"
        "text-a"
        "title-c"
        "anima-c"
        "text-c"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 250px 50px 150px 200px 50px 250px 240px;
        row-gap: 25px;
    }

    .header__img{
        display: none;
    }

    .text--modifier{
        font-size: 0.9em;
        margin: 0 5%;
    }

    .pill-1{
        max-width: 220px;
    }

    .pill-2{
        max-width: 210px;
    }

    .title--general{
        font-size: 1.3em;
    }

    .cards{
        margin: 0 10px;
        grid-area: cards;
        display: grid;
        grid-template-areas: 
        "card-1"
        "card-2" 
        "card-3"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 80px ;
        gap: 10px;
    }

    .footer-wrap{
        display: grid;
        grid-template-areas: 
        "redes"
        "text1"
        "text2";
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px 150px;
        row-gap: 5%;
        color: white;
        text-align: center;
    }

    .footer__text__p{
        font-size: 0.8em;
    }

}