@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Varela+Round&display=swap");
@-webkit-keyframes pill-1 {
  0% {
    height: 370px;
  }
  25% {
    height: 380px;
  }
  50% {
    height: 370px;
  }
  75% {
    height: 360px;
  }
  100% {
    height: 370px;
  }
}
@keyframes pill-1 {
  0% {
    height: 370px;
  }
  25% {
    height: 380px;
  }
  50% {
    height: 370px;
  }
  75% {
    height: 360px;
  }
  100% {
    height: 370px;
  }
}

@-webkit-keyframes pill-2 {
  0% {
    height: 330px;
  }
  25% {
    height: 340px;
  }
  50% {
    height: 330px;
  }
  75% {
    height: 320px;
  }
  100% {
    height: 330px;
  }
}

@keyframes pill-2 {
  0% {
    height: 330px;
  }
  25% {
    height: 340px;
  }
  50% {
    height: 330px;
  }
  75% {
    height: 320px;
  }
  100% {
    height: 330px;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/*Test*/
/*---*/
.image {
  width: auto;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mitr", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.btn {
  border: solid 2px #2B32B2;
  font-size: 1em;
  font-weight: bolder;
}

body {
  color: #20123A;
  font-family: "Mitr", sans-serif;
}

/*HEADER*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  width: 100%;
  overflow: hidden;
}

.header__description {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.header__description__logo__h1 {
  color: #ffffff;
  font-size: 2.7em;
  letter-spacing: 5px;
}

.header__description__logo__span {
  color: #A560B6;
  font-size: 1.2em;
}

.header__img {
  width: 50%;
}

/*CARDS*/
.cards--assembled {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.cards {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "card-1 card-2" "card-1 card-3";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  gap: 10px;
  margin: 10px;
}

.cards__1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: card-1;
  background: -webkit-gradient(linear, left top, right top, from(#DA22FF), color-stop(94.79%, #9733EE));
  background: linear-gradient(90deg, #DA22FF 0%, #9733EE 94.79%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards__1__name__title {
  margin: 10px;
  font-size: 1.2em;
}

.cards__1:hover {
  background-image: url(https://images.unsplash.com/photo-1599443015574-be5fe8a05783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  color: #ffffff;
  text-decoration: none;
  background-size: cover;
  background-position: left;
  box-shadow: 0px 1px 18px 2px rgba(59, 59, 59, 0.77);
  -webkit-box-shadow: 0px 1px 18px 2px rgba(59, 59, 59, 0.77);
  -moz-box-shadow: 0px 1px 18px 2px rgba(59, 59, 59, 0.77);
}

.cards__2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card-2;
  background: -webkit-gradient(linear, left top, right top, from(#1488CC), to(#2B32B2));
  background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards__2__name__title {
  margin: 10px;
  font-size: 1.2em;
}

.cards__2:hover {
  background-image: url(https://images.unsplash.com/photo-1625321150203-cea4bee44b54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  color: #ffffff;
  text-decoration: none;
  background-size: cover;
  background-position: left;
  box-shadow: 0px 1px 18px 2px rgba(59, 59, 59, 0.77);
  -webkit-box-shadow: 0px 1px 18px 2px rgba(59, 59, 59, 0.77);
  -moz-box-shadow: 0px 1px 18px 2px rgba(59, 59, 59, 0.77);
}

.cards__3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card-3;
  background: -webkit-gradient(linear, left top, right top, from(#1488CC), to(#2B32B2));
  background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards__3__name__title {
  margin: 10px;
  font-size: 1.2em;
}

.cards__3:hover {
  background-image: url(https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/5971c6555bafe801185a6653/perro-juguete-rojo-kong.jpg);
  color: #ffffff;
  text-decoration: none;
  background-size: cover;
  background-position: left;
  box-shadow: 0px 1px 18px 2px rgba(59, 59, 59, 0.77);
  -webkit-box-shadow: 0px 1px 18px 2px rgba(59, 59, 59, 0.77);
  -moz-box-shadow: 0px 1px 18px 2px rgba(59, 59, 59, 0.77);
}

/*ADOPTA*/
.adopta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adopta__imgbox {
  height: 70%;
  width: 50%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adopta__imgbox__pill-1 {
  width: 140px;
  height: 370px;
  border-radius: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#EC008C), to(#FC6767));
  background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
  position: absolute;
  -webkit-transform: rotate(-41.23deg);
          transform: rotate(-41.23deg);
  z-index: -2;
  -webkit-animation: pill-1 3s infinite;
          animation: pill-1 3s infinite;
}

.adopta__imgbox__pill-2 {
  width: 140px;
  height: 330px;
  border-radius: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#4CB8C4), to(#3CD3AD));
  background: linear-gradient(90deg, #4CB8C4 0%, #3CD3AD 100%);
  position: absolute;
  -webkit-transform: rotate(44.91deg);
          transform: rotate(44.91deg);
  z-index: -1;
  -webkit-animation: pill-2 3s infinite;
          animation: pill-2 3s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.adopta__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 50%;
  max-width: 50%;
  text-align: center;
}

.adopta__textbox__pbox__p {
  margin: 20px 20%;
}

.adopta__textbox__titlebox__span {
  color: "Varela Round", sans-serif;
  color: #A560B6;
  text-decoration: underline;
}

.colabora {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colabora__textbox {
  margin: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 50%;
  max-width: 50%;
  text-align: center;
}

.colabora__textbox__pbox__p {
  margin: 20px 20%;
}

.colabora__imgbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  position: relative;
}

.colabora__imgbox__img {
  border-radius: 25px;
  -webkit-animation: opacity 4s infinite linear;
          animation: opacity 4s infinite linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.colabora__imgbox__img--short-1 {
  position: absolute;
  border-radius: 25px;
  height: 180px;
  top: 60%;
  left: 5px;
  -webkit-animation: opacity 4s infinite linear;
          animation: opacity 4s infinite linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.colabora__imgbox__img--short-2 {
  position: absolute;
  border-radius: 25px;
  height: 180px;
  bottom: 60%;
  right: 6px;
  -webkit-animation: opacity 4s infinite linear;
          animation: opacity 4s infinite linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.footer {
  margin: 50px 0 0 0;
  background-color: #000000;
  font-size: 1.2em;
}

.footer__wrap {
  padding: 5%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "redes text-1 text-2";
  -ms-grid-rows: 3fr;
      grid-template-rows: 3fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 15%;
          column-gap: 15%;
  color: white;
}

.footer__wrap__redes {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: redes;
  margin-top: 20px;
}

.footer__wrap__redes__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__wrap__text--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text-1;
  text-align: center;
}

.footer__wrap__text--2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: text-2;
  text-align: center;
}

.footer__wrap__text__p {
  margin: 20px;
}

/************************NOSOTROS**************************/
@-webkit-keyframes circle-move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes circle-move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*header*/
.header {
  height: 200px;
  background: linear-gradient(-45deg, #f0c750, #fd626d, #23a6d5, #7add6f);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__titlebox {
  font-size: 2em;
  color: white;
}

@media (max-width: 1024px) {
  /*ADOPTA*/
  .adopta__textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    max-width: 50%;
    text-align: center;
  }
  .adopta__textbox__pbox__p {
    margin: 20px 10%;
  }
  /*COLABORA*/
  .colabora__textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    max-width: 50%;
    text-align: center;
  }
  .colabora__textbox__pbox__p {
    margin: 20px 8%;
  }
  .colabora__imgbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    position: relative;
  }
  .colabora__imgbox__img {
    width: 80%;
    border-radius: 25px;
    -webkit-animation: opacity 4s infinite linear;
            animation: opacity 4s infinite linear;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .colabora__imgbox__img--short-1 {
    position: absolute;
    border-radius: 25px;
    height: 120px;
    top: 65%;
    left: 3px;
    -webkit-animation: opacity 4s infinite linear;
            animation: opacity 4s infinite linear;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .colabora__imgbox__img--short-2 {
    position: absolute;
    border-radius: 25px;
    height: 120px;
    bottom: 65%;
    right: 3px;
    -webkit-animation: opacity 4s infinite linear;
            animation: opacity 4s infinite linear;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  /*FOOTER*/
  .footer {
    margin: 50px 0 0 0;
    background-color: #000000;
    font-size: 1.2em;
  }
  .footer__wrap {
    padding: 5%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "redes" "text-1"  "text-2";
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    color: white;
    row-gap: 20px;
  }
  .footer__wrap__redes {
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: redes;
    margin: 0 10%;
  }
  .footer__wrap__redes__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 50px;
  }
  .footer__wrap__text--1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: text-1;
    text-align: center;
    margin: 0 10%;
  }
  .footer__wrap__text--2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: text-2;
    text-align: center;
    margin: 0 10%;
  }
  .footer__wrap__text__p {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    text-align: center;
    height: 400px;
  }
  .header__description {
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
  .header__description__logo__h1 {
    color: #ffffff;
    font-size: 3em;
    letter-spacing: 6px;
  }
  .header__img {
    display: none;
  }
  .cards {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "card-1" "card-2"  "card-3";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (80px)[3];
        grid-template-rows: repeat(3, 80px);
    gap: 10px;
    margin: 10px;
  }
  .adopta {
    display: block;
    height: 600px;
    margin: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .adopta__imgbox {
    margin: 0 auto;
    height: 50%;
    padding: 10px;
  }
  .adopta__imgbox__img {
    max-width: 100%;
    height: auto;
    min-width: 300px;
  }
  .adopta__imgbox__pill-1 {
    width: 130px;
    height: 330px;
  }
  .adopta__imgbox__pill-2 {
    width: 130px;
    height: 280px;
  }
  .adopta__textbox {
    display: inline;
    margin: 10px 0;
  }
  .adopta__textbox__titlebox {
    margin: 20px 0 0 0;
  }
  .adopta__textbox__pbox__p {
    margin: 5px 10%;
  }
  .colabora {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 600px;
  }
  .colabora__textbox {
    display: inline;
    margin: 10px 0;
  }
  .colabora__textbox__pbox__p {
    margin: 5px 10%;
  }
  .colabora__imgbox {
    display: block;
    margin: 0 auto;
  }
  .colabora__imgbox__img {
    margin-top: 50px;
    width: 100%;
  }
  .colabora__imgbox__img--short-1 {
    position: absolute;
    border-radius: 25px;
    height: 110px;
    top: 70%;
    left: -20px;
    -webkit-animation: opacity 4s infinite linear;
            animation: opacity 4s infinite linear;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .colabora__imgbox__img--short-2 {
    position: absolute;
    border-radius: 25px;
    min-width: 100px;
    width: 110px;
    height: auto;
    bottom: 50%;
    right: -20px;
    -webkit-animation: opacity 4s infinite linear;
            animation: opacity 4s infinite linear;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  /*FOOTER*/
  .footer {
    margin: 50px 0 0 0;
    background-color: #000000;
    font-size: 1.2em;
  }
  .footer__wrap {
    padding: 5%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "redes" "text-1"  "text-2";
    -ms-grid-rows: 150px (1fr)[2];
        grid-template-rows: 150px repeat(2, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    color: white;
  }
  .footer__wrap__redes {
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: redes;
    margin: 0 10%;
  }
  .footer__wrap__redes__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 50px;
  }
  .footer__wrap__text--1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: text-1;
    text-align: center;
    margin: 0 10%;
  }
  .footer__wrap__text--2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: text-2;
    text-align: center;
    margin: 0 10%;
  }
  .footer__wrap__text__p {
    margin: 20px;
  }
}

@media (max-width: 768px) and (max-width: 480px) {
  .adopta {
    height: 760px;
  }
  .adopta__textbox__pbox__p {
    margin: 5px 10px;
  }
  .colabora {
    margin: 20px 0;
  }
  .colabora__textbox__pbox__p {
    margin: 5px 10px;
  }
  .colabora__imgbox {
    display: inline;
  }
  .colabora__imgbox__img {
    height: auto;
    margin: 10px 0;
    border-radius: 0;
    -webkit-animation: none;
            animation: none;
  }
  .colabora__imgbox__img--short-1 {
    display: none;
  }
  .colabora__imgbox__img--short-2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer__wrap {
    padding: 20px 5px;
  }
  .footer__wrap__text--1 {
    margin: 0 10px;
  }
  .footer__wrap__text--2 {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */