@keyframes pill-1 {
    0%{
        height: 370px;
    }

    25%{
        height: 380px;
    }

    50%{
        height: 370px;
    }

    75%{
        height: 360px;
    }

    100%{
        height: 370px;
    }
}

@keyframes pill-2 {
    0%{
        height: 330px;
    }

    25%{
        height: 340px;
    }

    50%{
        height: 330px;
    }

    75%{
        height: 320px;
    }

    100%{
        height: 330px;
    }
}

@keyframes opacity {
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0.8;
    }
    20%{
        opacity: 0.6;
    }
    30%{
        opacity: 0.4;
    }
    40%{
        opacity: 0.2;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0.2;
    }
    70%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.6;
    }
    90%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Varela+Round&display=swap');
$font-general: 'Mitr', sans-serif;
$font-special: 'Varela Round', sans-serif;
$font-color-general: #20123A;
$font-color-colorized: #A560B6;
$font-color-footer: #4a2986;

/*Test*/

// *{
//     border: solid 1px red;
// }

/*---*/
.image{
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-general;
} 

a, a:hover{
    color: #ffffff;
    text-decoration: none;
}


.btn{
    border: solid 2px #2B32B2;
    font-size: 1em;
    font-weight: bolder;
}

body{
    color: $font-color-general;
    font-family: $font-general;
}


/*Titles Reset (   Boostrap >:(   )*/
h1{
    display: block;
    font-size: 2em;
    margin: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

/*HEADER*/
.header{
    display: flex;
    height: 500px;
    justify-content: center;
    background-color: #000000 ;
    width: 100%;
    overflow: hidden;
    &__description{
        background-color: #000000 ;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        &__logo__h1{
            color: #ffffff;
            font-size: 2.7em;
            letter-spacing: 5px;
        }
        &__logo__span{
            color: $font-color-colorized;
            font-size: 1.2em;
        }
    }
    &__img{
        width: 50%;
    }
}

/*CARDS*/
.cards--assembled{
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    transition: background 1s;
}

.cards{
    display: grid;
    grid-template-areas: 
    "card1 card2"
    "card1 card3"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    margin: 10px;
    &__1{
        grid-area: card1;
        background: linear-gradient(90deg, #DA22FF 0%, #9733EE 94.79%);
        transition: 0.5s;
        &__name__title{
            margin: 10px;
            font-size: 1.2em;
        }
        &:hover{
            background-image: url(https://images.unsplash.com/photo-1599443015574-be5fe8a05783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
            color: #ffffff;
            text-decoration: none;
            background-size: cover;
	        background-position: left;
            box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -webkit-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -moz-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
        }
    }
    &__2{
        grid-area: card2;
        background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
        transition: 0.5s;
        &__name__title{
            margin: 10px;
            font-size: 1.2em;
        }
        &:hover{
            background-image: url(https://images.unsplash.com/photo-1625321150203-cea4bee44b54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
            color: #ffffff;
            text-decoration: none;
            background-size: cover;
	        background-position: left;
            box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -webkit-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -moz-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
        }
    }
    &__3{
        grid-area: card3;
        background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
        transition: 0.5s;
        &__name__title{
            margin: 10px;
            font-size: 1.2em;
        }
        &:hover{
            background-image: url(https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/5971c6555bafe801185a6653/perro-juguete-rojo-kong.jpg);
            color: #ffffff;
            text-decoration: none;
            background-size: cover;
	        background-position: left;
            box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -webkit-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -moz-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
        }
    }
}

/*ADOPTA*/
.adopta{
    display: flex;
    height: 350px;
    margin: 10px 0;
    align-items: center;
    flex-wrap: wrap;
    &__imgbox{
        height: 70%;
        width: 50%;
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__pill-1{
            width: 140px;
            height: 370px;
            border-radius: 70px;
            background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
            position: absolute;
            transform: rotate(-41.23deg);
            z-index: -2;
            animation: pill-1 3s infinite;
        }
        &__pill-2{
            width: 140px;
            height: 330px;
            border-radius: 70px;
            background: linear-gradient(90deg, #4CB8C4 0%, #3CD3AD 100%);
            position: absolute;
            transform: rotate(44.91deg);
            z-index: -1;
            animation: pill-2 3s infinite;
            animation-delay: 1s;
        }
    }
    &__textbox{
        display: flex;
        align-items: center;
        height: auto;
        width: 50%;
        max-width: 50%;
        text-align: center;
        &__pbox__p{
            margin: 20px 20%;
        }
        &__titlebox__span{
            color: $font-special;
            color: $font-color-colorized;
            text-decoration: underline;
        }
    }
}

.colabora{
    display: flex;
    align-items: center;
    &__textbox{
        margin: 0 0;
        display: flex;
        height: auto;
        width: 50%;
        max-width: 50%;
        text-align: center;
        &__pbox__p{
            margin: 20px 20%;
        }
    }
    &__imgbox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        position: relative;
        &__img{
            border-radius: 25px;
            animation: opacity 4s infinite linear;
            animation-delay: 4s;
            &--short-1{
                position: absolute;
                border-radius: 25px;
                height: 180px;
                top: 60%;
                left: 5px;
                animation: opacity 4s infinite linear;
                animation-delay: 4s;
            }
            &--short-2{
                position: absolute;
                border-radius: 25px;
                height: 180px;
                bottom: 60%;
                right: 6px;
                animation: opacity 4s infinite linear;
                animation-delay: 4s;
            }
        }
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: auto;
    background-color: #000000;
    margin-top: 40px;
    color: white;
    flex-wrap: wrap;
    &__redes{
        &__title{
            font-size: 0.1em;
        }
        &__iconbox{
            display: flex;
            justify-content: space-around;
            font-size: 1.3em;
        }
    }
    &__logo{
        font-size: 1.5em;
    }
}

/**************************************************NOSOTROS******************************************************/
$color-font-general: #20123A;
$color-mascotas:(
"color-dog": #f2b53c,
"color-cat": #e61c82,
"color-fish": #53d068,
"color-bird": #00d7f9,
);

@keyframes circle-move {
    0%{
        transform: translateY(0);
    }

    25%{
        transform: translateY(20%);
    }

    50%{
        transform: translateY(-20%);
    }

    100%{
        transform: translateY(0);   
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*header*/
.header--colorized{
    height: 200px;
    background: linear-gradient(-45deg, #f0c750, #fd626d, #23a6d5, #7add6f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__titlebox{
        font-size: 1.5em;
        color: white;
    }
}

/*SOMOS*/
.somos{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: $color-font-general;
    &__textbox{
        text-align: center;
        margin: 0 35%;
        font-size: 1.2em;
        &__hr{
            height: 5px;
            background-color: $color-font-general;
            border: 0;
            margin: 10px 0;
        }
    }
}

/*CARD-WRAP*/

.animalcard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    &__wrap{
        display: grid;
        grid-template-areas: 
        "can fel ave"
        "pez pez ave"
        ;
        grid-template-columns: repeat(3, 220px);
        grid-template-rows: repeat(2, 150px);
        gap: 10px;
        cursor: default;
        &__card--1{
            grid-area: can;
            background: map-get($map: $color-mascotas, $key: color-dog);
            transition: all 0.5s linear;
            &:hover{
                background-image: url(../images/dob--card__wrap.jpg);
                background-position: center;
                background-size: cover;
            }
        }
        &__card--2{
            grid-area:  fel;
            background: map-get($map: $color-mascotas, $key: color-cat);
            transition: all 0.5s linear;
            &:hover{
                background-image: url(../images/cat--card__wrap.jpg);
                background-position: center;
                background-size: cover;
            }
        }
        &__card--3{
            grid-area: pez;
            background: map-get($map: $color-mascotas, $key: color-fish);
            transition: all 0.5s linear;
            &:hover{
                background-image: url(../images/fish--card__wrap.jpg);
                background-position: center;
                background-size: cover;
            }
        }
        &__card--4{
            grid-area: ave;
            display: flex;
            background: map-get($map: $color-mascotas, $key: color-bird);
            transition: all 0.5s linear;
            &:hover{
                background-image: url(../images/bird--card__wrap.jpg);
                background-position: center;
                background-size: cover;
            }
        }
        &__card__titlebox{
            transform: translate(-4px, -10px);
            font-size: 1.5em;
            color: white;
        }
    }
}

.title--aves{
    transform: rotate(-90deg) translate(-256px, -28px);
}

/*CUIDA*/
.cuida{
    display: flex;
    color: white;
    font-family: sans-serif;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 300px;
    &__circlebox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        transition: all 0.1s cubic-bezier(0.6,-0.01, 1, 1);
        animation: circle-move 2s infinite ease;
        &__iconbox{
            font-size: 2em;
        }   
        &--1{
            background-color: map-get($map: $color-mascotas, $key: color-dog);
        }
        &--2{
            background-color: map-get($map: $color-mascotas, $key: color-cat);
            animation-delay: 0.5s;
        }
        &--3{
            background-color: map-get($map: $color-mascotas, $key: color-fish);
            animation-delay: 0.3s;
        }
        &--4{
            background-color: map-get($map: $color-mascotas, $key: color-bird);
            animation-delay: 0.7s;
        } 
        &:hover{
                height: 120px;
                width: 120px;
                border-radius: 100px;
                animation-play-state: paused;
                color: white;
        }
    }
}  

/*SUBHEADER*/
.subheader-nos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url(../images/fish--subheader.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &__titlebox{
        font-size: 1.5em;
        color: white;
    }
}


/*MASCOTAS*/
.mascotas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.perro{
    color: white;
    display: grid;
    grid-template-areas: 
    "icon img"
    "title img"
    "text img"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 40px 200px;
    gap: 10px;
    padding: 30px;
    background-image: radial-gradient(circle at 104.17% 95.45%, #f0c952 0, #f1bf47 25%, #f2b53c 50%, #f3ab32 75%, #f4a029 100%);
    height: auto;
    max-width: 80%;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    &__iconbox{
        grid-area: icon;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: map-get($map: $color-mascotas, $key: color-dog);
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
    &__titlebox{
        grid-area: title;
        display: flex;
        align-items: center;
    }
    &__textbox{
        grid-area: text;
        display: flex;
    }
    &__imgbox{
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &__img{
            transform: translateY(30px);
        }
    }
}

.gato{
    @extend .perro;
    background-image: radial-gradient(circle at 50% -20.71%, #fd626d 0, #fb5671 16.67%, #f74a74 33.33%, #f23c78 50%, #ec2d7c 66.67%, #e61c82 83.33%, #de0488 100%);
    &__iconbox{
        @extend .perro__iconbox;
        color: map-get($map: $color-mascotas, $key: color-cat);
    }
    &__titlebox{
        grid-area: title;
        display: flex;
        align-items: center;
    }
    &__textbox{
        grid-area: text;
    }
    &__imgbox{
        grid-area: img;
        display: flex;
        justify-content: center;
        &__img{
            transform: translateY(38px);
        }
    }
}

.pez{
    @extend .perro;
    background-image: radial-gradient(circle at 62.28% 119.64%, #82e071 0, #6cd86c 50%, #53d068 100%);
    &__iconbox{
        @extend .perro__iconbox;
        color: map-get($map: $color-mascotas, $key: color-fish);
    }
    &__titlebox{
        grid-area: title;
        display: flex;
        align-items: center;
    }
    &__textbox{
        grid-area: text;
    }
    &__imgbox{
        grid-area: img;
        display: flex;
        justify-content: center;
    }
}

.ave{
    @extend .perro;
    background-image: radial-gradient(circle at 90.56% -7.92%, #a5fff4 0, #8bfff3 16.67%, #6bfbf2 33.33%, #3cf2f2 50%, #00e9f3 66.67%, #00e0f5 83.33%, #00d7f9 100%);
    &__iconbox{
        @extend .perro__iconbox;
        color: map-get($map: $color-mascotas, $key: color-bird);
    }
    &__titlebox{
        grid-area: title;
        display: flex;
        align-items: center;
    }
    &__textbox{
        grid-area: text;
    }
    &__imgbox{
        grid-area: img;
        display: flex;
        justify-content: center;
    }
}

/***************************************************GALERIA****************************************************/
.galeria{
    margin-top: 10px;
    &__galerybox{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &__imgbox{
            height: auto;
            max-width: 320px;
            margin: 20px;
            border-radius: 10px;
            overflow: hidden;
            transition: all 0.1s linear;
            &:hover{
                box-shadow: 0px 0px 80px 17px rgba(87, 86, 86, 0.75);
                transform: scale(1.009);
            }
        }
    }
}


/***************************************************MEDIAS*****************************************************/
@media (max-width: 1024px) {
    /*ADOPTA*/
    .adopta{
        &__textbox{
            display: flex;
            align-items: center;
            width: 50%;
            max-width: 50%;
            text-align: center;
            &__pbox__p{
                margin: 20px 10%;
            }
        }
    }

    /*COLABORA*/
    .colabora{
        &__textbox{
            display: flex;
            align-items: center;
            width: 50%;
            max-width: 50%;
            text-align: center;
            &__pbox__p{
                margin: 20px 8%;
            }
        }
        &__imgbox{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            position: relative;
            &__img{
                width: 80%;
                border-radius: 25px;
                animation: opacity 4s infinite linear;
                animation-delay: 4s;
                &--short-1{
                    position: absolute;
                    border-radius: 25px;
                    height: 120px;
                    top: 65%;
                    left: 3px;
                    animation: opacity 4s infinite linear;
                    animation-delay: 4s;
                }
                &--short-2{
                    position: absolute;
                    border-radius: 25px;
                    height: 120px;
                    bottom: 65%;
                    right: 3px;
                    animation: opacity 4s infinite linear;
                    animation-delay: 4s;
                }
            }
    }
}

/****************************************NOSOTROS***********************************************/
.somos{
    &__textbox{
        margin: 0 20%;
    }
}

.cuida{
    height: 220px;
}

.perro{
    max-width: 90%;
    grid-template-columns: auto 220px;
    grid-template-rows: 60px 40px 200px;
    &__imgbox__img{
        height: 90%;
    }
}

.gato{
    max-width: 90%;
    grid-template-columns: auto 220px;
    grid-template-rows: 60px 40px 200px;
    &__imgbox__img{
        height: 90%;
        transform: translateY(65px);
    }
}

.pez{
    max-width: 90%;
    grid-template-columns: auto 220px;
    grid-template-rows: 60px 40px 200px;
    &__imgbox__img{
        height: 90%;
        transform: translateY(65px);
    }
}

.ave{
    max-width: 90%;
    grid-template-columns: auto 220px;
    grid-template-rows: 60px 40px 200px;
    &__imgbox__img{
        height: 80%;
        transform: translateY(65px);
    }
}
}

@media (max-width:768px) {
    .header{
        text-align: center;
        height: 400px;
        &__description{
            background-color: #000000 ;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            &__logo__h1{
                color: #ffffff;
                font-size: 3em;
                letter-spacing: 6px;
            }   
        }
        &__img{
            display: none;
        }
    }
    .cards{
        display: grid;
        grid-template-areas: 
        "card1"
        "card2" 
        "card3"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 80px);
        gap: 10px;
        margin: 10px;
    }
    .adopta{
        display: block;
        height: 600px;
        margin: 20px 0;
        align-items: center;
        flex-wrap: wrap;
        &__imgbox{
            margin: 0 auto;
            height: 50%;
            padding: 10px;
            &__img{
                max-width: 100%;
                height: auto;
                min-width: 300px;
            }
            &__pill-1{
                width: 130px;
                height: 330px;
            }
            &__pill-2{
                width: 130px;
                height: 280px;
            }
        }
        &__textbox{
            display: inline;
            margin: 10px 0;
            &__titlebox{
                margin: 20px 0 0 0;
            }
            &__pbox__p{
                margin: 5px 10%;
            }
        }
    }
    .colabora{
        display: block;
        align-items: center;
        justify-content: center;
        height: 600px;
        &__textbox{ 
            display: inline;
            margin: 10px 0;
            &__pbox__p{
                margin: 5px 10%;
            }
        }
        &__imgbox{
            display: block;
            margin: 0 auto;
            &__img{
                margin-top: 50px;
                width: 100%;
                &--short-1{
                    position: absolute;
                    border-radius: 25px;
                    height: 110px;
                    top: 70%;
                    left: -20px;
                    animation: opacity 4s infinite linear;
                    animation-delay: 4s;
                }
                &--short-2{
                    position: absolute;
                    border-radius: 25px;
                    min-width: 100px;
                    width: 110px;
                    height: auto;
                    bottom: 50%;
                    right: -20px;
                    animation: opacity 4s infinite linear;
                    animation-delay: 4s;
                }
            }
    }
}

/*******************************NOSOTROS********************************/

.somos{
    &__textbox{
        margin: 0 10%;
    }
}

.animalcard{
    &__wrap{
        grid-template-areas: 
        "can fel ave"
        "pez pez ave"
        ;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(2, 150px);
    }
}

.cuida{
    height: 260px;
}

.perro{
    grid-template-areas: 
    "icon title img"
    "text text img"
    ;
    grid-template-columns: 60px auto 220px;
    grid-template-rows: 60px 250px;
}

.gato{
    grid-template-areas: 
    "icon title img"
    "text text img"
    ;
    grid-template-columns: 60px auto 220px;
    grid-template-rows: 60px 250px;
}

.pez{
    grid-template-areas: 
    "icon title img"
    "text text img"
    ;
    grid-template-columns: 60px auto 220px;
    grid-template-rows: 60px 250px;
}

.ave{
    grid-template-areas: 
    "icon title img"
    "text text img"
    ;
    grid-template-columns: 60px auto 220px;
    grid-template-rows: 60px auto;
    &__imgbox__img{
        max-width: 100%;
        height: auto;
        object-fit:contain;
        transform: translateY(-5px);
    }
}
}

@media (max-width:480px) {
    .adopta{
        height: 760px;
        &__textbox__pbox__p{
            margin: 5px 10px;
        }
    }
    
    .colabora{
        margin: 20px 0;
        &__textbox__pbox__p{
            margin: 5px 10px;
        }
        &__imgbox{
            display: inline;
            &__img{
                height: auto;
                margin: 10px 0;
                border-radius: 0;
                animation: none;
            }
            &__img--short-1{
                display: none;
            }
            &__img--short-2{
                display: none;
            }
        }
    }

/*****************************NOSOTROS*******************************/
.animalcard{
    &__wrap{
        grid-template-areas: 
        "ave can"
        "ave fel"
        "pez pez"
        ;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 150px);
    }
}

.cuida{
    &__circlebox{
        animation: none;
    }
}

.perro{
    grid-template-areas: 
    "icon title"
    "text text"
    ;
    grid-template-columns: 60px auto;
    grid-template-rows: 60px auto;
    &__imgbox{
        display: none;
    }
}

.gato{
    grid-template-areas: 
    "icon title"
    "text text"
    ;
    grid-template-columns: 60px auto;
    grid-template-rows: 60px auto;
    &__imgbox{
        display: none;
    }
}

.pez{
    grid-template-areas: 
    "icon title"
    "text text"
    ;
    grid-template-columns: 60px auto;
    grid-template-rows: 60px auto;
    &__imgbox{
        display: none;
    }
}

.ave{
    grid-template-areas: 
    "icon title"
    "text text"
    ;
    grid-template-columns: 60px auto;
    grid-template-rows: 60px auto;
    &__imgbox{
        display: none;
    }
}
}