@keyframes pill-1 {
    0%{
        height: 370px;
    }

    25%{
        height: 380px;
    }

    50%{
        height: 370px;
    }

    75%{
        height: 360px;
    }

    100%{
        height: 370px;
    }
}

@keyframes pill-2 {
    0%{
        height: 330px;
    }

    25%{
        height: 340px;
    }

    50%{
        height: 330px;
    }

    75%{
        height: 320px;
    }

    100%{
        height: 330px;
    }
}

@keyframes opacity {
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0.8;
    }
    20%{
        opacity: 0.6;
    }
    30%{
        opacity: 0.4;
    }
    40%{
        opacity: 0.2;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0.2;
    }
    70%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.6;
    }
    90%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Varela+Round&display=swap');
$font-general: 'Mitr', sans-serif;
$font-special: 'Varela Round', sans-serif;
$font-color-general: #20123A;
$font-color-colorized: #A560B6;
$font-color-footer: #4a2986;

/*Test*/

// *{
//     border: solid 1px red;
// }

/*---*/
.image{
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    color: #ffffff;
    text-decoration: none;
}


.btn{
    border: solid 2px #2B32B2;
    font-size: 1em;
    font-weight: bolder;
}

body{
    color: $font-color-general;
    font-family: $font-general;
}

/*HEADER*/
.header{
    display: flex;
    height: 500px;
    justify-content: center;
    background-color: #000000 ;
    width: 100%;
    overflow: hidden;
    &__description{
        background-color: #000000 ;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        &__logo__h1{
            color: #ffffff;
            font-size: 2.7em;
            letter-spacing: 5px;
        }
        &__logo__span{
            color: $font-color-colorized;
            font-size: 1.2em;
        }
    }
    &__img{
        width: 50%;
    }
}

/*CARDS*/
.cards--assembled{
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    transition: background 1s;
}

.cards{
    display: grid;
    grid-template-areas: 
    "card-1 card-2"
    "card-1 card-3"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    margin: 10px;
    &__1{
        grid-area: card-1;
        background: linear-gradient(90deg, #DA22FF 0%, #9733EE 94.79%);
        transition: 0.5s;
        &__name__title{
            margin: 10px;
            font-size: 1.2em;
        }
        &:hover{
            background-image: url(https://images.unsplash.com/photo-1599443015574-be5fe8a05783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
            color: #ffffff;
            text-decoration: none;
            background-size: cover;
	        background-position: left;
            box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -webkit-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -moz-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
        }
    }
    &__2{
        grid-area: card-2;
        background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
        transition: 0.5s;
        &__name__title{
            margin: 10px;
            font-size: 1.2em;
        }
        &:hover{
            background-image: url(https://images.unsplash.com/photo-1625321150203-cea4bee44b54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
            color: #ffffff;
            text-decoration: none;
            background-size: cover;
	        background-position: left;
            box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -webkit-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -moz-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
        }
    }
    &__3{
        grid-area: card-3;
        background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
        transition: 0.5s;
        &__name__title{
            margin: 10px;
            font-size: 1.2em;
        }
        &:hover{
            background-image: url(https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/5971c6555bafe801185a6653/perro-juguete-rojo-kong.jpg);
            color: #ffffff;
            text-decoration: none;
            background-size: cover;
	        background-position: left;
            box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -webkit-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
            -moz-box-shadow: 0px 1px 18px 2px rgba(59,59,59,0.77);
        }
    }
}

/*ADOPTA*/
.adopta{
    display: flex;
    height: 350px;
    margin: 10px 0;
    align-items: center;
    flex-wrap: wrap;
    &__imgbox{
        height: 70%;
        width: 50%;
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__pill-1{
            width: 140px;
            height: 370px;
            border-radius: 70px;
            background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
            position: absolute;
            transform: rotate(-41.23deg);
            z-index: -2;
            animation: pill-1 3s infinite;
        }
        &__pill-2{
            width: 140px;
            height: 330px;
            border-radius: 70px;
            background: linear-gradient(90deg, #4CB8C4 0%, #3CD3AD 100%);
            position: absolute;
            transform: rotate(44.91deg);
            z-index: -1;
            animation: pill-2 3s infinite;
            animation-delay: 1s;
        }
    }
    &__textbox{
        display: flex;
        align-items: center;
        height: auto;
        width: 50%;
        max-width: 50%;
        text-align: center;
        &__pbox__p{
            margin: 20px 20%;
        }
        &__titlebox__span{
            color: $font-special;
            color: $font-color-colorized;
            text-decoration: underline;
        }
    }
}

.colabora{
    display: flex;
    align-items: center;
    &__textbox{
        margin: 0 0;
        display: flex;
        height: auto;
        width: 50%;
        max-width: 50%;
        text-align: center;
        &__pbox__p{
            margin: 20px 20%;
        }
    }
    &__imgbox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        position: relative;
        &__img{
            border-radius: 25px;
            animation: opacity 4s infinite linear;
            animation-delay: 4s;
            &--short-1{
                position: absolute;
                border-radius: 25px;
                height: 180px;
                top: 60%;
                left: 5px;
                animation: opacity 4s infinite linear;
                animation-delay: 4s;
            }
            &--short-2{
                position: absolute;
                border-radius: 25px;
                height: 180px;
                bottom: 60%;
                right: 6px;
                animation: opacity 4s infinite linear;
                animation-delay: 4s;
            }
        }
    }
}

.footer{
    margin: 50px 0 0 0;
    background-color: #000000;
    font-size: 1.2em;
    &__wrap{
        padding: 5%;
        display: grid;
        grid-template-areas: 
        "redes text-1 text-2";
        grid-template-rows: 3fr;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15%;
        color: white;
        &__redes{
            grid-area: redes;
            margin-top: 20px;
            &__icons{
                display: flex;
                justify-content: space-around;
            }
        }
        &__text--1{
            grid-area: text-1;
            text-align: center;
        }
        &__text--2{
            grid-area: text-2;
            text-align: center;
        }
        &__text__p{
            margin: 20px;
        }
    }
}

@media (max-width: 1024px) {
    /*ADOPTA*/
    .adopta{
        &__textbox{
            display: flex;
            align-items: center;
            width: 50%;
            max-width: 50%;
            text-align: center;
            &__pbox__p{
                margin: 20px 10%;
            }
        }
    }

    /*COLABORA*/
    .colabora{
        &__textbox{
            display: flex;
            align-items: center;
            width: 50%;
            max-width: 50%;
            text-align: center;
            &__pbox__p{
                margin: 20px 8%;
            }
        }
        &__imgbox{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            position: relative;
            &__img{
                width: 80%;
                border-radius: 25px;
                animation: opacity 4s infinite linear;
                animation-delay: 4s;
                &--short-1{
                    position: absolute;
                    border-radius: 25px;
                    height: 120px;
                    top: 65%;
                    left: 3px;
                    animation: opacity 4s infinite linear;
                    animation-delay: 4s;
                }
                &--short-2{
                    position: absolute;
                    border-radius: 25px;
                    height: 120px;
                    bottom: 65%;
                    right: 3px;
                    animation: opacity 4s infinite linear;
                    animation-delay: 4s;
                }
            }
    }
}
/*FOOTER*/
    .footer{
        margin: 50px 0 0 0;
        background-color: #000000;
        font-size: 1.2em;
        &__wrap{
            padding: 5%;
            display: grid;
            grid-template-areas: 
            "redes"
            "text-1" 
            "text-2";
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: 1fr;
            column-gap: 15px;
            color: white;
            &__redes{
                text-align: center;
                grid-area: redes;
                margin: 0 10%;
                &__icons{
                    display: flex;
                    justify-content: space-evenly;  
                    margin-top: 50px;
                }
            }
            &__text--1{
                grid-area: text-1;
                text-align: center;
                margin: 0 10%;
            }
            &__text--2{
                grid-area: text-2;
                text-align: center;
                margin: 0 10%;
            }
            &__text__p{
                margin: 20px;
            }
        }
    }
}

@media (max-width:768px) {
    .header{
        text-align: center;
        height: 400px;
        &__description{
            background-color: #000000 ;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            &__logo__h1{
                color: #ffffff;
                font-size: 3em;
                letter-spacing: 6px;
            }   
        }
        &__img{
            display: none;
        }
    }
    .cards{
        display: grid;
        grid-template-areas: 
        "card-1"
        "card-2" 
        "card-3"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 80px);
        gap: 10px;
        margin: 10px;
    }
    .adopta{
        display: block;
        height: 600px;
        margin: 20px 0;
        align-items: center;
        flex-wrap: wrap;
        &__imgbox{
            margin: 0 auto;
            height: 50%;
            padding: 10px;
            &__img{
                max-width: 100%;
                height: auto;
                min-width: 300px;
            }
            &__pill-1{
                width: 130px;
                height: 330px;
            }
            &__pill-2{
                width: 130px;
                height: 280px;
            }
        }
        &__textbox{
            display: inline;
            margin: 10px 0;
            &__titlebox{
                margin: 20px 0 0 0;
            }
            &__pbox__p{
                margin: 5px 5%;
            }
        }
    }
    .colabora{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        &__textbox__pbox__p{
            margin: 10px 5%;
        }
        &__imgbox__img{
            width: 90%;
        }
    }
}